* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#loginForm{
    margin-left: 30px;
    input {
        width: 300px;
        margin: 20px;
        margin-bottom: 0;
        height: 30px;
        border: 2px solid rgb(166, 166, 231);
        border-radius: 30px;
        padding: 20px;
    }
    label{
        width: 70px;
    }
    button {
        margin-top: 20px;
        width: 120px;
        height: 35px;
        background: linear-gradient(90deg, rgb(24, 17, 145) 0%, rgb(57, 57, 192) 35%, rgba(0,212,255,1) 100%);
        border-radius: 30px;
        border: none;
        color: white;
        &:hover{
            background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(57, 57, 192) 35%, rgba(24, 17, 145) 100%);
        }
    }
}
